<!-- <div class="container-fluid">

    <div class="container-fluid">

        <div class="row my-5">
            <div class="col-4 text-center my-2" *ngFor="let especialidad of especialidades">
                <img class="card-img-top img-fluid custom-img"
                    [src]="'/assets/images/especialidades/' + especialidad.fotoUrl" [alt]="especialidad.nombre">
                <div class="card-body my-3">
                    <h5 class="card-title">{{ especialidad.nombre }}</h5>
                </div>
            </div>
        </div>

    </div>
</div> -->


<div *ngIf="especialidades.length > 0">
    <h2>Especialidades</h2>
    <ul>
      <li *ngFor="let especialidad of especialidades">
        {{ especialidad.nombre }}
      </li>
    </ul>
  </div>
  <div *ngIf="especialidades.length === 0">
    <p>No hay especialidades disponibles.</p>
  </div>