<div class="container">
    <div class="row bg-success text-white p-3 my-3 transparent-green">
        <div class="col-4 text-center">
            <img src="/assets/images/medicina-general.png" class="card-img-top" alt="medicina-general" width="200"
                height="100" class="img-fluid">
            <div class="card-body">
                <h5 class="card-title">Medicina General</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="col-4 text-center">
            <img src="/assets/images/logo-salud-mental.png" class="card-img-top" alt="logo-salud-mental" width="200"
                height="100" class="img-fluid">
            <div class="card-body">
                <h5 class="card-title">Salud Mental</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="col-4 text-center">
            <img src="/assets/images/pediatria.png" class="card-img-top" alt="pediatria.png" width="200"
                height="100" class="img-fluid">
            <div class="card-body">
                <h5 class="card-title">Pediatria</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="col-4 text-center">
            <img src="/assets/images/logo-nutricion.png" class="card-img-top" alt="logo-nutricion" width="200"
                height="100" class="img-fluid">
            <div class="card-body">
                <h5 class="card-title">Nutricion</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="col-4 text-center">
            <img src="/assets/images/dermatologia.png" class="card-img-top" alt="dermatologia" width="200"
                height="100" class="img-fluid">
            <div class="card-body">
                <h5 class="card-title">Dermatologia</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="col-4 text-center">
            <img src="/assets/images/genecologia.png" class="card-img-top" alt="genecologia" width="200"
                height="100" class="img-fluid">
            <div class="card-body">
                <h5 class="card-title">Ginecologia</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>