<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div>
                <img routerLink="/" src="/assets/images/icono-flecha-verde.png" class="btn img-fluid">
                <a routerLink="/">&nbsp;Regresa a la página principal</a>
            </div>

            <div class="card mt-2">
                <div class="card text-center">
                    <h3>Hola Paciente, Registrate!</h3>
                    <p>Crea una cuenta para iniciar</p>
                </div>
                <div class="card-body">
                    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="mb-3 col-12 col-md-6">
                                <label for="nombres" class="form-label">Nombre *</label>
                                <input type="text" class="form-control" id="nombres" formControlName="nombre">
                                <div *ngIf="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched"
                                    class="text-danger">
                                    El nombre debe tener al menos 3 caracteres.
                                </div>
                            </div>
                          <div class="mb-3 col-12 col-md-6">
                            <label for="apellido" class="form-label">Apellido *</label>
                            <input type="text" class="form-control" id="apellido" formControlName="apellido">
                            <div *ngIf="registroForm.get('apellido')?.invalid && registroForm.get('apellido')?.touched"
                                 class="text-danger">
                              El apellido debe tener al menos 3 caracteres.
                            </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-12 col-md-6">
                                <label for="fdn" class="form-label">Fecha de nacimiento *</label>
                                <input type="date" class="form-control" id="fdn" formControlName="fdn">
                                <div *ngIf="registroForm.get('fdn')?.invalid && registroForm.get('fdn')?.touched"
                                    class="text-danger">
                                    Debe ingresar su fecha de nacimiento
                                </div>
                            </div>
                          <div class="mb-3 col-12 col-md-6">
                            <label for="sexo" class="form-label">Sexo *</label>
                            <select  class="form-select" id="sexo" formControlName="sexo">
                              <option selected value="M">Masculino</option>
                              <option value="F">Femenino</option>
                            </select>
                            <div *ngIf="registroForm.get('sexo')?.invalid && registroForm.get('sexo')?.touched"
                                 class="text-danger">
                              Debe seleccionar una opción
                            </div>
                          </div>

                            <div class="mb-3 col-12 col-md-6">
                                <label for="telefono" class="form-label">Teléfono *</label>
                                <input type="tel" class="form-control" id="telefono" formControlName="telefono">
                                <div *ngIf="registroForm.get('telefono')?.invalid && registroForm.get('telefono')?.touched"
                                    class="text-danger">
                                    El teléfono debe tener 9 dígitos.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-12 col-md-6">
                                <label for="dni" class="form-label">DNI *</label>
                                <input type="number" class="form-control" id="dni" formControlName="dni">
                                <div *ngIf="registroForm.get('dni')?.invalid && registroForm.get('dni')?.touched"
                                    class="text-danger">
                                    El DNI debe tener 8 dígitos.
                                </div>
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label for="email" class="form-label">Correo Electrónico *</label>
                                <input type="email" class="form-control" id="email" formControlName="email">
                                <div *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched"
                                    class="text-danger">
                                    Email no válido.
                                </div>
                                <div *ngIf="emailInUse" class="text-danger">
                                    Este correo electrónico ya está en uso. Por favor, prueba con otro.
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña *</label>
                            <input type="password" class="form-control" id="password" formControlName="password">
                            <div *ngIf="registroForm.get('password')?.invalid && registroForm.get('password')?.touched"
                                class="text-danger">
                                La contraseña es requerida y debe tener al menos 6 caracteres.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="confirm-password" class="form-label">Confirmar tu contraseña *</label>
                            <input type="password" class="form-control" id="confirm-password"
                                formControlName="confirmPassword">
                        </div>
                        <div class="row">
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="registroForm.invalid || emailInUse">
                                    Regístrate
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="text-center mt-3 mb-3">
                    <a>¿Ya tienes una cuenta?&nbsp;</a><a routerLink="/auth/login"><b>Ingresa</b></a>
                </div>
            </div>
        </div>
    </div>
</div>
