<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-8">
          <!-- Elegir especialidad -->

          <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="especialidad" class="form-label">Elegir especialidad</label>
              <select id="especialidad" class="form-select" formControlName="especialidad" (change)="obtenerDoctores()">
                @for (especialidad of especialidades; track especialidad){
                  <option [value]="especialidad.id">{{especialidad.nombre}}</option>
                }
              </select>
            </div>

            <!-- Elegir doctor -->
            <div class="mb-3">
              <label for="doctor" class="form-label">Elegir doctor</label>
              <select id="doctor" class="form-select" formControlName="doctor">
                @for (doctor of doctores; track doctor){
                  <option [value]="doctor.id">{{doctor.persona?.nombre}}</option>
                }
              </select>
            </div>

          <!-- Elegir fecha -->
          <div class="mb-3">
            <input type="datetime-local" formControlName="fechaHora">
          </div>

          <!-- Confirmar turno button -->
          <button type="submit" class="btn btn-primary" >CONFIRMAR TURNO</button>
        </form>

      </div>
  </div>
</div>