<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid mt-3">
            <a class="navbar-brand text-white">Healthtech</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" routerLink="/">Inicio</a>
                    </li>
                    <div class="nav-item d-flex">
                        <a class="nav-link text-white" routerLink="/specialties">Especialidades</a>
                    </div>
                    <li class="nav-item d-flex">
                        <a  class="nav-link text-white" routerLink="/doctors">Medicos</a>
                    </li>

                </ul>
                <div>
                    <button class="btn btn-success text-white" routerLink="/register" type="submit">Registro</button>
                </div>
                <div>
                    <button class="btn btn-success text-white" routerLink="/login" type="submit">inicio sesión</button>
                </div>
            </div>
        </div>
    </nav>


</div>