<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid mt-3 header-container">
            <a class="navbar-brand custom-brand offset-1"
                [ngClass]="{'text-black': isSpecialtiesOrDoctors(), 'text-white': !isSpecialtiesOrDoctors()}">Healthtech</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item me-4">
                      <a class="nav-link"
                         [ngClass]="{'text-black': isSpecialtiesOrDoctors() || router.url === '/', 'text-white': !isSpecialtiesOrDoctors() && router.url !== '/'}"
                         routerLink="/" [class.active]="router.url === '/'">Inicio</a>
                    </li>
                    <li class="nav-item me-4">
                      <a class="nav-link"
                         [ngClass]="{'text-black': isSpecialtiesOrDoctors() || router.url === '/specialties', 'text-white': !isSpecialtiesOrDoctors() && router.url !== '/specialties'}"
                         routerLink="/specialties" [class.active]="router.url === '/specialties'">Especialidades</a>
                    </li>
                    <li class="nav-item me-4">
                      <a class="nav-link"
                         [ngClass]="{'text-black': isSpecialtiesOrDoctors() || router.url === '/doctors', 'text-white': !isSpecialtiesOrDoctors() && router.url !== '/doctors'}"
                         routerLink="/doctors" [class.active]="router.url === '/doctors'">Médicos</a>
                    </li>
<!--                    <li class="nav-item me-4" *ngIf="_authService.isDoctor()">-->
<!--                      <a class="nav-link"-->
<!--                         [ngClass]="{'text-black': isSpecialtiesOrDoctors() || router.url === '/historial-medico', 'text-white': !isSpecialtiesOrDoctors() && router.url !== '/historial-medico'}"-->
<!--                         routerLink="/historial-medico" [class.active]="router.url === '/historial-medico'">Historiales Médicos</a>-->
<!--                    </li>-->
                    <li class="nav-item me-4" *ngIf="_authService.isPatient()">
                        <a class="nav-link"
                            [ngClass]="{'text-black': isSpecialtiesOrDoctors() || router.url === '/turnos', 'text-white': !isSpecialtiesOrDoctors() && router.url !== '/turnos'}"
                            routerLink="/turnos" [class.active]="router.url === '/turnos'">Turnos</a>
                    </li>
                  <li class="nav-item me-4" *ngIf="_authService.isDoctor()">
                    <a class="nav-link"
                       [ngClass]="{'text-black': isSpecialtiesOrDoctors() || router.url === '/pacientes', 'text-white': !isSpecialtiesOrDoctors() && router.url !== '/pacientes'}"
                       routerLink="/pacientes" [class.active]="router.url === '/pacientes'">Pacientes</a>
                  </li>
                    <li class="nav-item me-4" *ngIf="_authService.isDoctor()">
                      <a class="nav-link"
                         [ngClass]="{'text-black': isSpecialtiesOrDoctors() || router.url === '/turnos-doctor', 'text-white': !isSpecialtiesOrDoctors() && router.url !== '/turnos-doctor'}"
                         routerLink="/turnos-doctor" [class.active]="router.url === '/turnos-doctor'">Turnos Doctor</a>
                    </li>
                  <li class="nav-item me-4" *ngIf="_authService.isPatient()">
                    <a class="nav-link"
                       [ngClass]="{'text-black': isSpecialtiesOrDoctors() || router.url === '/turnos-doctor', 'text-white': !isSpecialtiesOrDoctors() && router.url !== '/historial-medico'}"
                       routerLink="/historial-medico" [class.active]="router.url === '/historial-medico'">Historial Médico</a>
                  </li>
                  </ul>
                @if(authStateObs$ | async; as user){
                  <div class="dropdown ms-auto">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" [ngClass]="{'text-white': !isSpecialtiesOrDoctors()}">
                      <img src="https://iconape.com/wp-content/png_logo_vector/user-circle.png" alt="Ícono">{{user.displayName }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                      <li><a class="dropdown-item" routerLink="/perfil">Perfil</a></li>
                      <li><a class="dropdown-item" (click)="logout()">Cerrar Sesión</a></li>
                    </ul>
                  </div>
<!--                <div class="d-flex">-->
<!--                    <div class="me-4 mt-2 fw-semibold">{{user.displayName}}</div>-->
<!--                    <button class="btn custom-btn-verde text-white me-2" (click)="logout()">Cerrar sesión</button>-->
<!--                </div>-->
                }@else{
                    <div class="d-flex">
                        <div class="btn-group custom-btn-verde text-white me-2" role="group">
                            <button type="button" class="btn custom-btn-verde text-white me-2 dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Registro
                            </button>
                            <ul class="dropdown-menu custom-btn-verde text-white me-2">
                                <li><a class="dropdown-item custom-btn-verde text-white me-2"
                                        routerLink="/auth/register">Registro Paciente</a></li>
                                <li><a class="dropdown-item custom-btn-verde text-white me-2"
                                    routerLink="/auth/register-doctor">Registro Doctor</a></li>
                            </ul>
                        </div>
                        <button class="btn custom-btn-verde text-white" routerLink="/auth/login">Inicio sesión</button>
                    </div>
                }
                </div>
            </div>
    </nav>
</div>
