<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid mt-3">
            <a class="navbar-brand" [ngClass]="{'text-black': isSpecialtiesOrDoctors(), 'text-white': !isSpecialtiesOrDoctors()}">Healthtech</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item me-3">
                        <a class="nav-link" [ngClass]="{'text-black': isSpecialtiesOrDoctors() || router.url === '/', 'text-white': !isSpecialtiesOrDoctors() && router.url !== '/'}" routerLink="/">Inicio</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link" [ngClass]="{'text-black': isSpecialtiesOrDoctors() || router.url === '/specialties', 'text-white': !isSpecialtiesOrDoctors() && router.url !== '/specialties'}" routerLink="/specialties">Especialidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'text-black': isSpecialtiesOrDoctors() || router.url === '/doctors', 'text-white': !isSpecialtiesOrDoctors() && router.url !== '/doctors'}" routerLink="/doctors">Médicos</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <button class="btn custom-btn-verde me-2" routerLink="/register" type="submit">Registro</button>
                    <button class="btn custom-btn-verde" routerLink="/login" type="submit">Inicio sesión</button>
                </div>
            </div>
        </div>
    </nav>
</div>