<div class="container">

    <div class="jumbotron p-5 my-5 text-white" >
        <p class="h1">Consulta Médica Rápida<br>
            y Segura, conecta con<br>
            Especialistas Hoy</p>
        <h6 class="mt-5">En Healthtech, te ofrecemos acceso instantáneo a consultas médicas generales y<br>
            especializadas, recetas en
            línea y seguimiento personalizado, todo desde la<br> comodidad de tu hogar. Conecta con médicos expertos
            en
            cualquier momento y<br> has tus consultas.</h6>
    </div>

    <div class="container my-5 text-white">
        <p class="btn"><a class="btn btn-lg custom-btn-verde mt-2 no-opacity" role="button">Consulta ahora</a></p>
    </div>

    <div class="container jumbotron my-5 text-white">
        <div class="row text-center ">
            <div class="col">
                <h2>Servicios</h2>
            </div>
        </div>
        <div class="row text-center my-5">
            <div class="col-2">
                <img src="/assets/images/logo-medicina-general.png" class="img-fluid rounded-circle" alt="Medicina General">
                <p>Medicina General</p>
            </div>
            <div class="col-2">
                <img src="/assets/images/logo-salud-mental.png" class="img-fluid rounded-circle" alt="Salud Mental">
                <p>Salud Mental</p>
            </div>
            <div class="col-2">
                <img src="/assets/images/logo-pediatria.png" class="img-fluid rounded-circle" alt="Pediatría">
                <p>Pediatría</p>
            </div>
            <div class="col-2">
                <img src="/assets/images/logo-nutricion.png" class="img-fluid rounded-circle" alt="Nutrición">
                <p>Nutrición</p>
            </div>
            <div class="col-2">
                <img src="/assets/images/logo-dermatologia.png" class="img-fluid rounded-circle" alt="Dermatología">
                <p>Dermatología</p>
            </div>
            <div class="col-2">
                <img src="/assets/images/logo-ginecologia.png" class="img-fluid rounded-circle" alt="Ginecología">
                <p>Ginecología</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2>Nuestros Especialistas</h2>
                <p>Conocé el staff de profesionales</p>
                <button class="btn custom-btn-verde mx-2">VER MÁS</button>
            </div>
            <button class="btn custom-btn-verde mx-2">SACAR TURNO</button>
        </div>

    </div>

</div>