<div class="container-fluid">
    <div class="jumbotron jumbotron1 text-white w-100">
        <div class="container">
            <p class="h1">Consulta Médica Rápida<br>
                y Segura, conecta con<br>
                Especialistas Hoy</p>
            <h6 class="mt-5">En Healthtech, te ofrecemos acceso instantáneo a consultas médicas generales y<br>
                especializadas, recetas en
                línea y seguimiento personalizado, todo desde la<br> comodidad de tu hogar. Conecta con médicos expertos
                en
                cualquier momento y<br> haz tus consultas.
            </h6>
            <div class="container">
                <p class="btn">
                    <a class="btn btn-lg custom-btn-verde no-opacity" role="button">CONSULTA AHORA
                        <img src="/assets/images/icono-flecha-botones.png" width="30" height="30">
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="custom-verde my-2 text-white">

        <div class="row text-center my-2">
            <div class="row text-center">
                <h2>Servicios</h2>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-3">
                <img src="/assets/images/servicios/logo-medicina-general.png" class="img-fluid rounded-circle"
                    alt="Medicina General">
                <p>Medicina General</p>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-3">
                <img src="/assets/images/servicios/logo-salud-mental.png" class="img-fluid rounded-circle" alt="Salud Mental">
                <p>Salud Mental</p>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-3">
                <img src="/assets/images/servicios/logo-pediatria.png" class="img-fluid rounded-circle" alt="Pediatría">
                <p>Pediatría</p>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-3">
                <img src="/assets/images/servicios/logo-nutricion.png" class="img-fluid rounded-circle" alt="Nutrición">
                <p>Nutrición</p>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-3">
                <img src="/assets/images/servicios/logo-dermatologia.png" class="img-fluid rounded-circle" alt="Dermatología">
                <p>Dermatología</p>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-3">
                <img src="/assets/images/servicios/logo-ginecologia.png" class="img-fluid rounded-circle" alt="Ginecología">
                <p>Ginecología</p>
            </div>
        </div>

        <div *ngIf="doctoresCarousel" class="row text-center" >
          <div class="row text-center">
            <h2>Profesionales de confianza, comprometidos con tu salud</h2>
          </div>
          <div id="carousel-doctores" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div *ngFor="let doctor of doctoresCarousel; let i = index;" class="carousel-item" [ngClass]="{active:i===0}">
                <div class="doctor-card">
                  <div class="doctor-picture">
                    <img src="{{doctor.persona!.fotoUrl}}" alt="foto de perfil del doctor">
                    <div class="mt-2 text-center">$ {{doctor.honorarios | number }} /sesión</div>
                  </div>
                  <div class="doctor-info">
                    <h4 class="fw-bold mb-2">Dr. {{ doctor.persona?.nombre }}</h4>
                    <fa-icon [icon]="faStar" [ngClass]="{'checked' : ((doctor.honorarios! + 4) % 5 + 4)>1}"></fa-icon>
                    <fa-icon [icon]="faStar" [ngClass]="{'checked' : ((doctor.honorarios! + 4) % 5 + 4)>2}"></fa-icon>
                    <fa-icon [icon]="faStar" [ngClass]="{'checked' : ((doctor.honorarios! + 4) % 5 + 4)>3}"></fa-icon>
                    <fa-icon [icon]="faStar" [ngClass]="{'checked' : ((doctor.honorarios! + 4) % 5 + 4)>4}"></fa-icon>
                    <fa-icon [icon]="faStar" [ngClass]="{'checked' : ((doctor.honorarios! + 4) % 5 + 4)>=5}"></fa-icon>
                    <p class="text-start mt-2">{{doctor.descripcion}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-doctores" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-doctores" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <a [routerLink]="['/specialties']">
            <button id="carousel-btn" type="button" class="btn bt "><h3>ELEGIR POR ESPECIALIDAD</h3></button>
          </a>
        </div>

    </div>
</div>
