<div class="container">

    <div class="container-fluid bg-success text-white p-3 my-3 transparent-green">
        <div class="jumbotron p-5 text-white">
            <p class="h1">Consulta Médica Rápida<br>
                y Segura, conecta con<br>
                Especialistas Hoy</p>
            <h6 class="mt-5">En Healthtech, te ofrecemos acceso instantáneo a consultas médicas generales y<br> especializadas, recetas en
                línea y seguimiento personalizado, todo desde la<br> comodidad de tu hogar. Conecta con médicos expertos en
                cualquier momento y<br> has tus consultas.</h6>
            <p><a class="btn btn-primary mt-2 no-opacity" role="button">Consulta ahora</a></p>
        </div>
    </div>

    <div>
        Servicios
    </div>

</div>