.transparent-green {
    background-color: rgba(0, 128, 0, 0.47); /* Verde con 47% de opacidad */
}

.jumbotron {
    background-color: rgba(13, 115, 133, 0.47); /* Color #0d7385 con 47% de opacidad */
    color: white; /* Asegura que el texto sea blanco y no transparente */
}

