<div class="footer bg-secondary text-white text-center mt-2">
    <div class="container">
        <div class="row mt-3">
            <h1 class="h2">Healthtech</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 text-left">
                Healththech&#64;health.com
            </div>
            <div class="col-12 col-md-4 text-center">
                <img src="/assets/images/facebook-logo.png" alt="facebook-logo" width="20" height="20" class="img-fluid"> 
                <img src="/assets/images/instagram-logo.png" alt="instagram-logo" width="20" height="20" class="img-fluid"> 
                <img src="/assets/images/wsp-logo.png" alt="wsp-logo" width="20" height="20" class="img-fluid">
            </div>
            <div class="col-12 col-md-4 text-right">
                Contacto
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-left">
                Teléfonos
            </div>
            <div class="col-4 offset-4 text-right">
                Términos y condiciones
            </div>
        </div>
    </div>
</div>