<div class="bg-secondary text-white page-footer fixed-bottom bg-secondary mt-2">
    <div class="row mt-3 text-center">
        <h4>Healthtech</h4>
    </div>
    <div class="row text-center">
        <div class="col-12 col-md-4">
            Healththech&#64;health.com
        </div>
        <div class="col-12 col-md-4">
            <img src="/assets/images/facebook-logo.png" alt="facebook-logo" width="20" height="20" class="img-fluid"> 
            <img src="/assets/images/instagram-logo.png" alt="instagram-logo" width="20" height="20" class="img-fluid"> 
            <img src="/assets/images/wsp-logo.png" alt="wsp-logo" width="20" height="20" class="img-fluid">
        </div>
        <div class="col-12 col-md-4">
            Contacto
        </div>
    </div>
    <div class="row text-center">
        <div class="col-4">
            Teléfonos
        </div>
        <div class="col-4 offset-4">
            Términos y condiciones
        </div>
    </div>
</div>