<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div>
                <img routerLink="/" src="/assets/images/icono-flecha-verde.png" class="btn img-fluid"> 
                <a routerLink="/">&nbsp;Regresa a la página principal</a>
            </div>
            <div class="card mt-1">
                <div class="card text-center">
                    <h3>Hola Doc, ¡Regístrate!</h3>
                    <p>Crea una cuenta para iniciar</p>
                </div>
                <div class="card-body">
                    <form  [formGroup]="registroForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="mb-1 col-12 col-md-6">
                                <label for="nombres" class="form-label">Nombres</label>
                                <input type="text" class="form-control" id="nombres">
                            </div>
                            <div class="mb-2 col-12 col-md-6">
                                <label for="apellidos" class="form-label">Apellidos</label>
                                <input type="text" class="form-control" id="apellidos">
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-2 col-12 col-md-6">
                                <label for="edad" class="form-label">Edad</label>
                                <input type="number" class="form-control" id="edad">
                            </div>
                            <div class="mb-2 col-12 col-md-6">
                                <label for="telefono" class="form-label">Teléfono</label>
                                <input type="tel" class="form-control" id="telefono">
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-2 col-12 col-md-6">
                                <label for="dni" class="form-label">Dni</label>
                                <input type="number" class="form-control" id="dni">
                            </div>
                            <div class="mb-2 col-12 col-md-6">
                                <label for="email" class="form-label">Correo Electrónico</label>
                                <input type="email" class="form-control" id="email" formControlName="email">
                                <div *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched"
                                    class="text-danger">
                                    Email no válido.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-2 col-12 col-md-6">
                                <label for="licencia" class="form-label">Licencia</label>
                                <input type="text" class="form-control" id="licencia">
                            </div>
                            <div class="mb-2 col-12 col-md-6">
                                <label for="especialidad" class="form-label">Especialidad</label>
                                <input type="text" class="form-control" id="especialidad">
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <div class="mb-2">
                            <label for="confirm-password" class="form-label">Confirmar tu contraseña</label>
                            <input type="password" class="form-control" id="confirm-password">
                        </div>
                        <div class="row">
                            <div class="d-grid mb-1">
                                <button type="submit" class="btn btn-primary">Regístrate</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="text-center mt-2 mb-2">
                    <a>¿Ya tienes una cuenta?&nbsp;</a><a routerLink="/auth/login"><b>Ingresa</b></a>
                </div>
            </div>
        </div>
    </div>
</div>