<div class="container d-flex justify-content-center align-items-center mt-3">
    <div class="w-50">
        <h2 class="text-center">Iniciar Sesión</h2>
        <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="loginEmail" class="form-label">Correo Electrónico </label>
                <input type="email" class="form-control" id="loginEmail" required formControlName="email">
            </div>
            <div class="mb-3">
                <label for="loginPassword" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="loginPassword" required formControlName="password">
            </div>
            <button type="submit" class="btn custom-btn-verde">Iniciar Sesión</button>
            <div class="mt-2 text-center mb-3">
                <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">¿Has olvidado la contraseña?</a>
            </div>
            <div class="mt-2 text-center mb-3">
                <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/register">Crear cuenta nueva</a>
            </div>
        </form>
    </div>
</div>
