<div *ngIf="especialidad">
  <div class="especialidad">
    <h3>{{especialidad.nombre}}</h3>
  </div>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div *ngIf="doctores" class="doctores">
    <div class="doctor" *ngFor="let doctor of doctores">
      <div class="doctor-picture">
        <img src="{{doctor.persona!.fotoUrl}}" alt="foto de perfil del doctor">
        <div class="mt-2 text-center">$ {{doctor.honorarios | number }} /sesión</div>
      </div>
      <div class="doctor-info">
        <h4 class="fw-bold mb-1">Dr. {{ doctor.persona?.nombre }}</h4>
        <fa-icon [icon]="faStar" [ngClass]="{'checked' : ((doctor.honorarios! + 4) % 5 + 4)>1}"></fa-icon>
        <fa-icon [icon]="faStar" [ngClass]="{'checked' : ((doctor.honorarios! + 4) % 5 + 4)>2}"></fa-icon>
        <fa-icon [icon]="faStar" [ngClass]="{'checked' : ((doctor.honorarios! + 4) % 5 + 4)>3}"></fa-icon>
        <fa-icon [icon]="faStar" [ngClass]="{'checked' : ((doctor.honorarios! + 4) % 5 + 4)>4}"></fa-icon>
        <fa-icon [icon]="faStar" [ngClass]="{'checked' : ((doctor.honorarios! + 4) % 5 + 4)>=5}"></fa-icon>
        <p>Es una psicóloga con un título de la Universidad de Edimburgo.
          Se especializa en terapia cognitivo-conductual y tiene una amplia experiencia en el tratamiento de trastornos de ansiedad y depresión.
        </p>
      </div>
    </div>
  </div>
</div>





