<nav *ngIf="especialidad" class="container float-start">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/specialties']" >Especialidades</a></li>
    <li class="breadcrumb-item" [ngClass]="{active : true}">{{ especialidad!.nombre! }}</li>
  </ol>
</nav>
<div *ngIf="especialidad">
  <div class="especialidad">
    <h3>{{especialidad.nombre}}</h3>
  </div>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div *ngIf="doctores" class="doctores">
    <div class="doctor" *ngFor="let doctor of doctores">
      <div class="doctor-picture">
        <img src="{{doctor.persona!.fotoUrl}}" alt="foto de perfil del doctor">
        <div class="mt-2 text-center">$ {{doctor.honorarios | number }} /sesión</div>
      </div>
      <div class="doctor-info">
        <h4 class="fw-bold mb-1"><span *ngIf="doctor.persona!.sexo ==='F'">Dra.</span><span *ngIf="doctor.persona?.sexo ==='M'">Dr.</span>
          {{ doctor.persona?.nombre + " " + doctor.persona?.apellido}}</h4>
        <fa-icon [icon]="faStar" [ngClass]="{'checked' : ((doctor.honorarios! + 4) % 5 + 4)>1}"></fa-icon>
        <fa-icon [icon]="faStar" [ngClass]="{'checked' : ((doctor.honorarios! + 4) % 5 + 4)>2}"></fa-icon>
        <fa-icon [icon]="faStar" [ngClass]="{'checked' : ((doctor.honorarios! + 4) % 5 + 4)>3}"></fa-icon>
        <fa-icon [icon]="faStar" [ngClass]="{'checked' : ((doctor.honorarios! + 4) % 5 + 4)>4}"></fa-icon>
        <fa-icon [icon]="faStar" [ngClass]="{'checked' : ((doctor.honorarios! + 4) % 5 + 4)>=5}"></fa-icon>
        <p>{{doctor.descripcion}}
        </p>
      </div>
    </div>
  </div>
</div>





