<div class="container mt-3">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Semana</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Paciente</th>
            <th>Detalles del paciente</th>
            <th>Historial Médico</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Semana 1</td>
            <td>02/09/2024</td>
            <td>14:00 - 14:30</td>
            <td>Emily Watson</td>
            <td><a href="#">Ver Detalles</a></td>
            <td><a href="#">Ver Historial</a></td>
          </tr>
          <tr>
            <td>Semana 1</td>
            <td>03/09/2024</td>
            <td>15:00 - 15:30</td>
            <td>James Bennett</td>
            <td><a href="#">Ver Detalles</a></td>
            <td><a href="#">Ver Historial</a></td>
          </tr>
          <tr>
            <td>Semana 2</td>
            <td>09/09/2024</td>
            <td>15:00 - 15:30</td>
            <td>Daniel Evans</td>
            <td><a href="#">Ver Detalles</a></td>
            <td><a href="#">Ver Historial</a></td>
          </tr>
          <tr>
            <td>Semana 2</td>
            <td>12/09/2024</td>
            <td>16:00 - 16:30</td>
            <td>Grace Thompson</td>
            <td><a href="#">Ver Detalles</a></td>
            <td><a href="#">Ver Historial</a></td>
          </tr>
          <tr>
            <td>Semana 3</td>
            <td>16/09/2024</td>
            <td>14:00 - 14:30</td>
            <td>Charlotte White</td>
            <td><a href="#">Ver Detalles</a></td>
            <td><a href="#">Ver Historial</a></td>
          </tr>
          <tr>
            <td>Semana 3</td>
            <td>20/09/2024</td>
            <td>17:00 - 17:30</td>
            <td>George Walker</td>
            <td><a href="#">Ver Detalles</a></td>
            <td><a href="#">Ver Historial</a></td>
          </tr>
          <tr>
            <td>Semana 4</td>
            <td>26/09/2024</td>
            <td>16:00 - 16:30</td>
            <td>Ava Green</td>
            <td><a href="#">Ver Detalles</a></td>
            <td><a href="#">Ver Historial</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>