.pencil-icon{
  position: absolute;
  bottom: 0;
  right: 20%;
}

.pencil-icon:hover{
  color: #44AAFF;
  cursor: pointer;
}


input[type='file']{
  display: none;
}

.profile-pic{
  position: relative;
}

.profile-card {
  background-color: #e9eef1; /* Color de fondo */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  max-width: 700px;
}

.profile-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.profile-info {
  text-align: left;
}

.profile-info h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-info p {
  margin: 0;
  color: #333;
}

.profile-info p strong {
  font-weight: bold;
}
