.pencil-icon{
  position: absolute;
  bottom: 15%;
  right: 20%;
}

.pencil-icon:hover{
  color: #44AAFF;
  cursor: pointer;
}


input[type='file']{
  display: none;
}

.profile-pic{
  position: relative;
}

.profile-card {
  background-color: #09525e1a; /* Color de fondo */
  border-radius: 10px;
  padding: 30px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: start;
  max-width: 1500px;
  font-size: 1.2em;
}

.profile-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-pic{
  margin: 0 20px;
  padding: 25px;
}

.profile-info {
  text-align: left;
  padding: 20px;
}

.profile-info h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-info p {
  margin: 0;
}

.profile-info p strong {
  font-weight: bold;
  color: #09525e;
}
